<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.caotu.duanzhi"
    tools:ignore="ProtectedPermissions">

    <uses-permission
        android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" /> <!-- 8.0安装需要的权限 -->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="com.android.launcher.permission.WRITE_SETTINGS" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="com.android.launcher.permission.UNINSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.REORDER_TASKS" />
    <uses-permission android:name="com.huawei.android.launcher.permission.CHANGE_BADGE " />
    <uses-permission android:name="android.permission.WAKE_LOCK" /> <!-- 用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- 用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- 用于获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- 用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" /> <!-- 用于访问网络，网络定位需要上网 -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /> <!-- 用于写入缓存数据到扩展存储卡 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- 用于申请调用A-GPS模块 -->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" /> <!-- 用于申请获取蓝牙信息进行室内定位 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:name=".alihotfix.SophixStubApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme.NoActionBar"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:theme">

        <!-- 适配跟这个宽度有很大关系,框架是根据这里定义的宽度和屏幕的宽度做的适配 -->
        <meta-data
            android:name="design_width_in_dp"
            android:value="375" />
        <meta-data
            android:name="design_height_in_dp"
            android:value="812" />

        <activity
            android:name=".module.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/GuideAppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".module.home.MainActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- caotu://android/attr?name=zhangsan&age=26 -->
                <data
                    android:host="android"
                    android:pathPrefix="/attr"
                    android:scheme="caotu" />
                <!-- <a href="[scheme]://[host]/[path]?[query]">启动应用程序</a> -->
            </intent-filter>
        </activity>
        <activity
            android:name=".module.login.LoginAndRegisterActivity"
            android:screenOrientation="behind" />
        <activity
            android:name=".module.login.BindPhoneAndForgetPwdActivity"
            android:screenOrientation="behind" />
        <activity
            android:name=".module.publish.PublishActivity"
            android:screenOrientation="behind"
            android:windowSoftInputMode="stateVisible"  />
        <activity
            android:name=".module.publish.SelectTopicActivity"
            android:screenOrientation="behind"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".module.mine.MyInfoActivity"
            android:screenOrientation="behind" />
        <activity
            android:name=".module.setting.SettingActivity"
            android:screenOrientation="behind" />
        <activity
            android:name=".module.setting.NoticeSettingActivity"
            android:screenOrientation="behind" />
        <activity
            android:name=".module.other.WebActivity"
            android:configChanges="orientation|screenSize"
            android:hardwareAccelerated="true" />
        <activity
            android:name=".module.mine.SubmitFeedBackActivity"
            android:screenOrientation="behind" />
        <activity
            android:name=".module.mine.BaseBigTitleActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.other.OtherActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="behind" />
        <activity
            android:name=".module.other.UserDetailActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="behind" />
        <activity
            android:name=".module.notice.NoticeHeaderActivity"
            android:screenOrientation="behind" />
        <activity android:name=".module.mine.FocusActivity" />
        <activity
            android:name=".module.other.imagewatcher.PictureWatcherActivity"
            android:screenOrientation="behind"
            android:theme="@style/Theme.ImagePreview" />
        <activity
            android:name=".module.mine.ShareCardToFriendActivity"
            android:screenOrientation="behind" />
        <activity
            android:name=".module.mine.MedalDetailActivity"
            android:screenOrientation="behind" />
        <activity
            android:name=".module.search.SearchActivity"
            android:screenOrientation="behind"
            android:windowSoftInputMode="stateVisible" /> <!-- 加水印的服务 -->
        <service android:name=".module.download.WaterMarkServices" />
        <service
            android:name=".module.download.VideoFileReadyServices"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <activity
            android:name=".module.detail_scroll.ContentNewDetailActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="behind" /> <!-- 全屏的页面还是放在自己model里比较好 -->
        <activity
            android:name=".module.FullScreenActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.caotu.duanzhi.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider> <!-- ***************************极光推送************************************* -->
        <receiver
            android:name=".jpush.JPushReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.RECEIVE_MESSAGE" />

                <category android:name="com.caotu.duanzhi" />
            </intent-filter>
        </receiver> <!-- Since JCore2.0.0 Required SDK核心功能 -->
        <!-- 可配置android:process参数将Service放在其他进程中；android:enabled属性不能是false -->
        <!-- 这个是自定义Service，要继承极光JCommonService，可以在更多手机平台上使得推送通道保持的更稳定 -->
        <service
            android:name=".jpush.JpushService"
            android:enabled="true"
            android:exported="false"
            android:process=":pushcore">
            <intent-filter>
                <action android:name="cn.jiguang.user.service.action" />
            </intent-filter>
        </service> <!-- 华为中间跳转页面 -->
        <activity
            android:name=".jpush.HuaWeiActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity> <!-- ***************************极光推送  结束************************************* -->
        <!-- 友盟统计配置Appkey与Channel -->
        <!-- value的值填写你在友盟后台申请的应用Appkey -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5bd96c16f1f5560386000141" /> <!-- value的值填写渠道名称，例如yingyongbao。这里设置动态渠道变量 -->
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="duanzi" /> <!-- ************************************高德定位start************************************ -->
        <service android:name="com.amap.api.location.APSService" />

        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="4258a586e3c378543f6881e6e82dda33" /> <!-- 开发者申请的key -->
        <!-- ************************************高德End************************************ -->
        <activity
            android:name=".module.other.TestActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HideActivity"
            android:excludeFromRecents="true"
            android:noHistory="true" />

        <receiver
            android:name=".SecretCodeReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.provider.Telephony.SECRET_CODE" />

                <data
                    android:host="1111"
                    android:scheme="android_secret_code" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".module.detail.DetailActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".module.setting.TeenagerActivity"
            android:screenOrientation="behind" />
    </application>

</manifest>