<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.caotu.adlib">
    <application>
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-4142892384243371~4064651132"/>
    </application>
</manifest>
